@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@0,100;0,400;0,500;1,400&display=swap');
body{
    background-color: #fdcdd9;
}
.barra {
    background-color:#ba5370;
}
.text {
    color: #fdcdd9
}
.p-3 {
    padding: 1rem!important;
}
*, ::after, ::before {
    box-sizing: border-box;
}
header {
    display: block;
}
.btn-warning {
    color: #000;
    background-color: #ba5370;
    border-color: #ba5370;
}
.kart{
    width: 20px;
    background-color: #ba5370;
}
a {
    font-family: 'Noto Serif Display', serif;
	font-size: 20px;
    color:#fdcdd9;
    text-align: center;
    text-decoration: none;
}

.logo {
    width: 50px;
    height: 50px;
    display: flex;
}
.pesquisa {
    display: flex;
    color: #fdcdd9;
    margin-top: 5px;
}
.pesquisa img{
    width: 20px;
    margin-top: 5px;
    margin-left: 5px;
}
.pesquisa input {
    width: 20vw;
    border: transparent;
    border-radius: 4px;
}
.carrinho {
    color: #fdcdd9;
}
.carrinho img {
    width: 24px;
   }
li{
    text-decoration: none;
    height: 40px;
}
#menu ul{
    color: #ba5370;
    background-color: #ba5370;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    
}
#menu ul li {
    display: inline;
}

h6{
    font-family: 'Noto Serif Display', serif;
    margin-top: 100px;
    color: #ba5370;
    font-size: 50px;
    text-align: center;
}

p{
    font-family: 'Noto Serif Display', serif;
    display: flex;
    color: #ba5370;
    font-size: 20px;
    text-align: center;
    text-decoration: solid;
}

.produto1 img{
    width: 60%;
    margin-left: 20%;
}

.texto{
    font-family: 'Noto Serif Display', serif;
    color: #ba5370;
    font-size: 20px;
    margin: 10px 100px 100px 100px;
    text-decoration: solid;
}
.preço{
    font-family: 'Noto Serif Display', serif;
    margin-left: 25%;
    margin-top: 10px;
    width: 30%;
}
.comprar{
    font-family: 'Noto Serif Display', serif;
    text-decoration: none;
    background-color: #ba5370;
    margin-top: 5px;
    margin-left: 50%;
    margin-bottom: 30%;
    width: 30%;
    border-radius: 24px;
}
.caixa {
    max-width: 100%;
    margin-top: 10px;
    text-align: center;
}

.faq {
    max-width: 100%;
    font-family: 'Noto Serif Display', serif;
    border: solid;
    border-color: #ba5370;
    margin-top: 10%;
}
h5 {
    font-family: 'Noto Serif Display', serif;
    margin-bottom: 10px;
    margin-left: 1%;
    text-align: center;
    color: #ba5370;
    font-size: 20px;
}
p {
    font-family: 'Noto Serif Display', serif;
    margin-bottom: 10px;
    margin-left: 1%;
    text-align: justify;
}
.localização {
    max-width: 100%;
    border: solid;
    border-color: #ba5370;
    margin-top: 10%;
    
}
footer{
    color:#fdcdd9
}
.text1 {
    --bs-text-opacity: 1;
    color: #ba5370;
}
#voltar {
    position: fixed;
    bottom: 50px;
    right: 50px;
    border: none;
    padding: none;
    background-color:transparent ;

  }
iframe{
    width: 100%;
}
